@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-emphasis: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: jaldi;
}

:root {
  --bg-color: #0a1128;
  --text-accent: #16db93;
  --text-color: #f2f2f2;
  --sec-text-color: #b1b1b1;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 5000;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);
  align-items: baseline;
  width: 100%;
  padding: 0 18% 0;
  background: rgba(15, 25, 55, 0.6);
  z-index: 100;
  font-weight: bold;
}

.navbar {
  position: relative;
  display: flex;
}

span {
  color: var(--text-accent);
}

.logo a {
  text-decoration: none;
  font-size: 4.8rem;
  color: var(--text-color);
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 32px;
  margin: 0 50rem 0 5em;
  padding: 0;
}

nav a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--text-color);
  font-size: 20px;
  transition: ease-in-out 0.3s;
}

nav a:hover {
  color: var(--text-accent);
  transform: scale(1.1) translateY(-4px);
}


#menu-icon{
  font-size: 3.6rem;
  color: var(--text-accent);
  display: none;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem; /* Adjust as needed for spacing between icons */
  text-decoration: none;
  width: 4.5rem;
  height: 4.5rem;
  background: transparent;
  font-size: 2.5rem;
  color: var(--text-color);
  transition: 0.3s ease-in-out;
}

.social-icons a:hover {
  transform: scale(1.3) translateY(-3px);
}

i .bx .bxl-github {
  width: 4.5rem;
  height: 4.5rem;
}

section {
  position: relative;
  align-items: center;
  margin: auto;
  max-width: 1000px;
  min-height: 50vh;
  padding: 0 0 12%;
}

.home {
  max-height: 100vh;
  margin-top: 32vh;
}

.home h1 {
  font-size: 64px;
  font-weight: normal;
  margin: 0;
  color: #d9d9d9;
}

.subheader {
  font-size: 32px;
  margin-top: 0px;
}

.subheader span {
  position: relative;
}

.subheader span::before {
  content: 'Computer Science Student.';
  color: var(--text-accent);
  animation: words 20s;
}

.subheader span::after {
  content: '';
  background-color: var(--bg-color);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid var(--bg-color);
  right: -6px;
  animation: cursor 1.2s infinite, typing 20s steps(19) infinite;
}
@keyframes cursor {
  to {
    border-left: 2px solid var(--text-color);
  }
}

@keyframes words {
  0%,
  100% {
    content: 'Computer Science Student.';
  }
}
@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}
.name-highlight {
  color: #16db93;
  font-weight: bold;
}
.description {
  font-size: 2.4rem;
  margin: 20px 0;
  color: var(--sec-text-color);
}

button {
  cursor: pointer;
  font-size: 16px;
  background-color: #16db93;
  border-radius: 8px;
  padding: 10px 20px;
  margin-top: 15px;
  transition: 0.3s ease-in-out;
}
button a {
  background-color: transparent;
  color: #0a1128;
  text-decoration: none;
}
button:hover {
  transform: scale(1.1) translateY(-3px);
  box-shadow: 0 0 10px var(--text-accent);
}
.about {
  max-height: 100vh;
  padding: 0 0 32rem 0;
}
.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-img {
  border-radius: 4%;
}
.about-img img {
  position: relative;
  width: 16vw;
  box-shadow: 0.5rem 0.5rem 3rem #050916;
  border-radius: 4%;
  margin-left: 8rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.about-img img:hover {
  transform: translateY(-10px);
}
.heading-container {
  display: flex;
  align-items: center;
  margin: 20px 0;
  max-width: 1000px;
  min-height: 30vh;
  padding-top: 100px;
}
h2 {
  font-size: 46px;
  margin: 0;
  padding: 10px;
}

h2 span {
  color: var(--text-accent);
}

.heading-container:after {
  background-color: var(--sec-text-color);
  content: '';
  justify-content: center;
  height: 1px;
  margin-left: 20px;
  margin-top: 24px;
  width: 300px;
}
.about-content {
  position: relative;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  color: var(--sec-text-color);
}
.about-skills {
  justify-content: center;
  text-align: justify;
}
.about-description {
  position: relative;
  top: auto;
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
}
.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  font-size: 1.5rem;
  margin-right: 16rem;
}
.cert-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Adjust the gap to control space between rows */
  align-items: center;
  margin: 0 auto;
  padding: 2rem 2rem 2rem 12%;
}
.cert-box {
  display: flex;
  gap: 8rem; /* Adjust the gap to control space between columns */
  align-items: center;
  width: 100%;
  max-width: 1000px; /* Ensure it doesn't exceed a reasonable width */
}
.org {
  color: #00ffcc; /* Adjust color for the organization name */
  font-size: 1.9rem;
  font-weight: normal;
  min-width: 150px; /* Ensure a minimum width */
}

.describe h1 {
  font-size: 2.4rem;
  margin: 0;
  transition: 0.3s ease-in-out;
}
.describe h1:hover {
  transform: translateX(1rem);
}

.describe h1 a {
  text-decoration: none;
  color: var(--text-color);
}

.describe .date {
  font-size: 1.7rem;
  font-weight: normal;
  color: #c7cbd6;
}

.project-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.project-box {
  background-color: #13213a;
  height: 40rem;
  border-radius: 2rem;
  transition: 0.1s;
}
.project-box:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0 5px var(--sec-text-color);
}
.project-icons {
  display: flex;
  justify-content: space-between;
  margin: 3rem 2.5rem 2rem;
  font-size: 2.1rem;
  background-color: #13213a;
}
.project-icons .bxs-folder {
  color: var(--text-accent);
}
.project-icons .bx-link {
  color: var(--sec-text-color);
}
.project-info {
  position: relative;
  margin: 0 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.project-info h3 {
  font-size: 3rem;
  line-height: 1;
}
.project-info p {
  color: var(--sec-text-color);
  font-size: 1.8rem;
}
.project-info .tools {
  font-size: 1.5rem;
}

/* ------------------------------- */
@media (max-width: 1285px) {
  html {
    font-size: 55%;
  }
  .project-container {
    padding-bottom: 7rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 5rem;
  }
}
@media (max-width: 991px) {
  header {
    padding: 2rem 3%;
  }
  section,
  main {
    padding-bottom: 7rem;
  }
  .project,
  .about,
  .cert {
    padding: 7rem;
  }
}

@media (max-width: 895px) {
  html {
    font-size: 35%;
  }
  #menu-icon {
    display: block;
    justify-content: baseline;
    font-size: 5rem;
  }

  .header {
    justify-content: space-between;
    padding: 0 7% 0;
  }
  /* --------------------- */
  .subheader {
    font-size: 32px;
    margin-top: 0px;
  }

  .subheader span {
    position: relative;
  }

  .subheader span::before {
    content: 'Computer Science Student.';
    color: var(--text-accent);
    animation: words 20s;
  }

  .subheader span::after {
    content: '';
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -10px;
    animation: cursor 1.2s infinite, typing 20s steps(19) infinite;
  }
  .navbar {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3%;
    background: #0a112882;
    backdrop-filter: blur(10px);
    border-bottom-left-radius: 2rem;
    border-left: 2px solid var(--text-accent);
    border-bottom: 2px solid var(--text-accent);
    display: none;
  }
  .navbar.active {
    display: block;
  }
  .navbar a {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    margin: 3rem 0;
    color: white;
  }
  .navbar a:hover {
    color: var(--text-accent);
    font-size: 2.4rem;
  }
  .navbar ul {
    display: table-row;
    align-items: center;
    margin-left: 0.5rem;
  }
  .social-icons {
    display: flex;
    justify-content: left;
  }

  .social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem; /* Adjust as needed for spacing between icons */
    text-decoration: none;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    font-size: 2.5rem;
    transition: 0.3s ease-in-out;
  }
  .social-icons a:hover {
  transform: scale(1) none;
  color: var(--text-accent);
  font-size: 2.4rem;
}
  .home {
    flex-direction: column;
    margin: 32rem 4rem;
    align-content: center;
  }

  .home h1 {
    font-size: 32px;
    font-weight: normal;
    margin: 0;
    color: #d9d9d9;
  }

  .subheader {
    font-size: 16px;
    margin-top: 0px;
  }

  .subheader span {
    position: relative;
  }

  .heading-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    min-height: 12vh;
  }
  h2 {
    font-size: 4rem;
  }
  .heading-container:after {
    height: 0.5px;
    width: 200px;
    margin: 5px;
  }

  .cert-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
    width: 100%;
  }
  .cert-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    width: 100%;
    max-width: 1000px; /* Ensure it doesn't exceed a reasonable width */
  }

  .about-content {
    display: flex;
    flex-direction: column-reverse;
    gap: 3rem;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
    width: 100%;
    max-width: 1000px; /* Ensure it doesn't exceed a reasonable width */
  }

  .about-img img {
    position: relative;
    width: 32vw;
    margin-left: 0;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  .project-container {
    grid-template-columns: 1fr;
  }
}
