@import url("https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-emphasis: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: jaldi;
}

:root {
  --bg-color: #0a1128;
  --text-accent: #16db93;
  --text-color: #f2f2f2;
  --sec-text-color: #b1b1b1;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 5000;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  align-items: baseline;
  width: 100%;
  padding: 0 18% 0;
  background: rgba(15, 25, 55, 0.6);
  z-index: 100;
  font-weight: bold;
}

section {
  position: relative;
  align-items: center;
  margin: auto;
  max-width: 1000px;
  min-height: 50vh;
  padding: 0 0 12%;
}

.logo a {
  /*change according to figma*/
  text-decoration: none;
  font-size: 48px;
  color: var(--text-color);
}

nav ul {
  /*change according to figma*/
  list-style-type: none;
  display: flex;
  gap: 32px;
  margin: 0 50rem 0 5em;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 24px;
  transition: ease-in-out 0.3s;
}

nav a:hover {
  color: var(--text-accent);
  font-size: 24px;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 2.5rem;
  text-decoration: none;
  width: 4.5rem;
  height: 4.5rem;
  background: transparent;
  font-size: 2.5rem;
  color: var(--text-color);
  transition: 0.3s ease-in-out;
}

.social-icons a:hover {
  transform: scale(1.3) translateY(-3px);
}

i .bx .bxl-github {
  width: 4.5rem;
  height: 4.5rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: left;
}

.intro {
  max-width: 1000px;
  margin: 200px 0 0;
}

.intro h1 {
  font-size: 64px;
  font-weight: normal;
  margin: 0;
  color: #d9d9d9;
}

.subheader {
  font-size: 32px;
  margin-top: 0px;
}

.subheader span {
  position: relative;
}

.subheader span::before {
  content: "Computer Science Student";
  color: var(--text-accent);
  animation: words 20s;
}

.subheader span::after {
  content: "";
  background-color: var(--bg-color);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid var(--bg-color);
  right: -8px;
  animation: cursor 1.2s infinite, typing 20s steps(19) infinite;
}
@keyframes cursor {
  to {
    border-left: 2px solid var(--text-color);
  }
}

@keyframes words {
  0%,
  100% {
    content: "Computer Science Student.";
  }
}
@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}
.name-highlight {
  color: #16db93;
  font-weight: bold;
}
.description {
  font-size: 24px;
  margin: 20px 0;
  color: #b1b1b1;
}
button {
  background-color: transparent;
  background-color: #16db93;
  padding: 10px 20px;
  color: #0a1128;
  cursor: pointer;
  font-size: 16px;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}
button:hover {
  transform: scale(1.1) translateY(-1px);
  box-shadow: 0 0 10px var(--text-accent);
}
.about {
  max-height: 100vh;
  padding: 0 0 32rem 0;
}
.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-img {
  border-radius: 4%;
}
.about-img img {
  position: relative;
  width: 16vw;
  box-shadow: #02040c;
  border-radius: 4%;
  margin-left: 8rem;
  cursor: pointer;
}
.heading-container {
  display: flex;
  align-items: center;
  margin: 20px 0;
  margin: auto;
  max-width: 1000px;
  min-height: 30vh;
  padding-top: 100px;
}
h2 {
  font-size: 46px;
  margin: 0;
  padding: 10px;
}

h2 span {
  color: var(--text-accent);
}

.heading-container:after {
  background-color: var(--sec-text-color);
  content: "";
  justify-content: center;
  height: 1px;
  margin-left: 20px;
  margin-top: 24px;
  width: 300px;
}
.about-content {
  position: relative;
  display: flex;
  flex-direction: row;
}
.about-skills {
  justify-content: center;
  text-align: justify;
}
